@font-face {
    font-family: 'ethnocentric';
    src: url('Coolvetica Rg.otf');
}
body {
    background-image: url('BfemybeKVXCf9pgX9WCxsc.jpg');
    background-size: cover;
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    font-family: 'ethnocentric';
}

.header {
    width: auto;
    position: fixed;
    top: 0;
    z-index: 1;
}

.column.side {
    float: left;
    margin: 170px 0px;
    width: 20%;
    background-color: #84c4d4;
}

.column.middle {
    margin: 170px 0px;
    width: 60%;
    background-color: #418ef9;
}

.footer {
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    height: 50px;
    text-align: center;
    z-index: 1;
}

h2.headingdua {
    text-decoration-line: underline;
    text-decoration-style: wavy;
    text-decoration-color: rgb(255, 230, 0);
    font-size: 2em;
    color: #ffcc00;
    text-shadow: 2px 2px 4px #000000;
    animation: reveal 3s;
}

p.paragraf {
    color: rgb(208, 227, 255);
    text-align: justify;
    padding: 0 20px;
    font-size: 1.2em;
}

mark {
    background-color: rgb(25, 28, 61);
    color: rgb(208, 227, 255);
    padding: 0 10px;
    border-radius: 5px;
}

/* Animasi */
@keyframes reveal{
    0% { clip-path: polygon(0 0, 0 100%, 0 100%, 0 0); }
    100% { clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 0); }
}

/* kode css navigator */
ul {
    list-style: none;
    background: linear-gradient(to right, #112738, #61788a);
    padding: 0px 0px;
    margin: 120px 0px;
    position: fixed;
    width: 1280px;
    height: 60px;
}

ul li {
    display: inline-block;
    position: relative;
    height: 60px;
    padding: 10px 8px;
}

ul li a {
    padding: 10px 0px;
    text-align: center;
}

ul a:hover {
    background-color: rgb(255, 255, 255);
    backdrop-filter: blur(10px);
}

/* kode css dropdown */
ul li ul.dropdown {
    position: absolute;
    display: none;
    width: auto;
    height: auto;
    margin: 0px 0px;
}

ul li:hover ul.dropdown {
    display: block;
}

/* scroll container */
.center {
    display: flex;
    justify-content: center;
    text-align: center;
}

.scroll-container {
    position: absolute;
    margin-top: 200px;
    width: 50%;
    background-color: #61788a;
    padding: 20px;
    box-sizing: border-box;
    z-index: -1;
    border-radius: 40px;
    font-family: 'ethnocentric';
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* 2 box */
* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.topnav {
    overflow: hidden;
    background-color: #333;
}

.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}